<ion-view view-title="Home">
  <ion-content>
     <div class="list card">
      <div class="item">
        <h3>{{ welcome }}</h3>
        <h2>Happy Coding :D Sriiiiii </h2>
        <p>very Nice</p>
      </div>
      <div class="item item-body">
        <p>Welcome to the junggle boy</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
