<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pengeluaran</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePengeluaran()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSavePengeluaran()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama Pengeluran</span>
          <input type="text" ng-model="pengeluaranData.nama">
        </label>
        <label class="item item-input">
          <span class="input-label">Jumlah</span>
          <input type="text" ng-model="pengeluaranData.jumlah">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Simpan</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>