<ion-view view-title="Detil Pengeluaran">
    <ion-content>        
        <div class="list">
            <label class="item item-input">
              <span class="input-label">ID {{ pemasukan }}</span>          
            </label>
            <label class="item item-input">
              <span class="input-label">Nama Pengeluaran</span>          
            </label>
            <label class="item item-input">
              <span class="input-label">Jumlah</span>          
            </label>
            <label class="item item-input">
              <span class="input-label">Keterangan</span>          
            </label>        
        </div>                
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#/app/pengeluarans">
                <i class="icon ion-arrow-left-a"></i>
                Back
            </a>	
        </div>
    </ion-content>
</ion-view>