<ion-view view-title="Daftar Pemasukan">
  <ion-content>
    <div class="item tabs tabs-secondary tabs-icon-left">
	<a class="tab-item" ng-click="pemasukan()">
	<i class="icon ion-android-add "></i>
            Input Pemasukan
	</a>	
    </div>
    <ion-list>
      <ion-item ng-repeat="pemasukan in pemasukans" ng-click="getPemasukan(pemasukan.id)">
        <div class="row">
            <div class="col-10">
            <button class="button"  style="background-color: #EE5757; color: #fff; font-size: bold;">
                {{pemasukan.id}}                
            </button> 
            </div>
            <div class="col-10">
                <p><b> {{pemasukan.nama_pemasukan}}</b> </p>
                <p> {{pemasukan.jumlah}} </p>
            </div>            
            <div class="col-80">
                <div class="text-right">
                    {{pemasukan.keterangan}}
                </div>                
            </div>
        </div>         
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
