<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Input Pemasukan</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePemasukan()"><i class="ion ion-android-cancel"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSavePemasukan()">
      <div class="list">
        <label class="item item-input">          
          <input type="text" placeholder="Nama Pemasukan" ng-model="pemasukanData.nama_pemasukan">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Jumlah" ng-model="pemasukanData.jumlah">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Keterangan" ng-model="pemasukanData.keterangan">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit"><i class="icon ion-android-checkmark-circle"></i> Simpan</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>