<ion-view view-title="Grafik">	  	  		
	    <ion-content ng-controller="GrafikPengeluaranController">		    
		    <div class="card">
		        <div class="item item-divider">
		            <i class="icon ion-pie-graph"></i> PIE
		        </div>
		        <div class="item item-text-wrap">
		            <canvas id="pie" class="chart chart-pie" chart-data="pemasukanData.data" chart-labels="pemasukanData.labels" chart-legend="true">
		        </div>
		    </div>		    
		</ion-content>  		        
</ion-view>